.container{
/*	display: flex;
	flex-direction: column;*/
}
.container{
	display: flex;
	flex-direction: column;
	align-items:center;
    position: absolute;
    top: 40%;
    left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, -50%);
    padding:20px;
    border:solid 2px green;
    border-radius:20px;
    /*background-color: red;*/
	/*align-items: center;*/
	/*margin-left:auto;*/
	
	/*position:absolute;
	top:50%;
	left:50%;
	width:50%;
	height:50%;*/
}

/*	width: 50%;
    height: 50%;*/

.heading {
	/*padding:0px;*/
	/*margin:0px;*/
	/*display:flex;*/
	/*margin-left:auto;*/
	/*margin-right:auto;*/
}

.buttons{
	/*display:flex;
	flex-direction:row;*/
	/*padding-left:20%;*/
	/*padding-right:auto;*/
}
#back {
	display:none;
}
#sleep-view {
	display:none;
}
#wake-view {
	display:none;
}
#sleep-time{
	display:none;
}
@media screen and (max-width: 700px){
	.heading{
		font-size:10px;
	}
	#time-display{
		font-size: 16px;
	}
	.buttons{
		font-size:20px;
	}
}